/* catering comienzo*/

.titulosCatering {
    grid-area: titulos;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
}

.h2Catering {
    font-size: 40px;
    text-decoration: underline;
    margin: 0 30px 30px 30px;
    text-align: center;
    text-transform: uppercase;
}

.h1Catering {
    font-size: 55px;
    text-align: center;
    text-transform: uppercase;
}

.imgYtabla {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    grid-area: imgytabla;

}

.figImgComboFull {
    display: flex;
    justify-content: center;
}

.imgComboFull {
    display: flex;
    width: 95%;
}

tr:hover td{
    background-color: rgba(255, 166, 0, 0.603);
    color: black;
}


.artlistInfo {
    padding: 40px;
    margin: 60px;
    border: 20px groove rgb(100, 45, 0);
    grid-area: articulocat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgb(255, 238, 218), rgb(255, 208, 107));

    .listInfo {
        font-size: 30px;
        margin-left: 30px;

        .subList {

            li {
                margin-left: 50px;
            }
            
        } 

    }

}

.divContacto {
    text-align: center;
    margin: 60px;
    grid-area: contacto;
}

.aContacto {
    font-size: 35px;
    border-radius: 30px;
    border: double rgb(92, 41, 0);
    border-width: 5px;
    background-color: black;
    color: $buttoncolor;
    padding: 10px;
    font-weight: bold;
    margin: 30px;
    text-transform: uppercase;
}

.divCatering {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.5fr 1fr 1fr 0.4fr 0.1fr;
    grid-template-areas: 
    "header header header header"
    "titulos titulos titulos titulos"
    "imgytabla imgytabla imgytabla imgytabla"
    "articulocat articulocat articulocat articulocat"
    "contacto contacto contacto contacto"
    "footer footer footer footer";
}


/* catering fin */