/* Contacto comienzo */

.containerCont {
    padding-top: 15%;
}

.h2form {
    font-style: italic;
}

.formcont {
    background-color: rgb(255, 229, 189);
    border-radius: 10px;
}

.resertc {
    margin-left: 10px;
}

/* contacto fin */