/* Nosotros comienzo */

.tituloNos {
    height: 200px;
    margin-top: 15%;
}

.h1nosotros {
    font-size: 50px;
    text-decoration: underline;
    margin: 0 30px 30px 30px;
    text-align: center;
    font-weight: bold;
}

.pNosotros {
    text-align: center;
    margin: 20px 0 60px 0;
    font-size: 35px;
}

.idVideoNos {
    text-align: center;
} 

.vidNosotros {
    border: 15px ridge rgb(87, 39, 0);
    width: 560px;
    height: 315px;
}


.abotonesNosotros {
    border-radius: 30px;
    border: double rgb(92, 41, 0);
    border-width: 5px;
    align-self: center;
}


/* Nosotros Fin */