// variable aplicada en el color de letra de los botones navegables:
$buttoncolor: rgba(255, 166, 0, 0.603); 

@import "generales";
@import "armar";
@import "catering";
@import "nosotros";
@import "contactos";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;1,200&family=Island+Moments&family=Oswald:wght@300&display=swap');

/* inicio comienzo */

.h1Index {
    font-size: 55px;
    text-align: center;
}

.h2Index {
    font-size: 40px;
    text-decoration: underline;
    margin: 0 1cm 1cm 1cm;
    text-align: center;
}

.imagenBurger {
    background-image: url(../img/hamburguesa4.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    border-top: solid rgb(87, 39, 1);
    border-bottom: solid rgb(87, 39, 1);
    border-width: 5px;
    padding: 100px 0px 100px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.imgcaroucelInicio {
    width: 50%; 
    margin: 30px 20px 30px 50px;
    border: solid rgb(87, 39, 0);
    
}

.flexart {
    display: flex;
    grid-area: seccion1;
}

.articFlecha {
    text-align: center;
    font-size: 30px;
    margin: 60px;
    grid-area: seccion2;
}

.h3antesflecha {
    font-size: 28px;
}

.h2antesflecha {
    font-size: 28px;
    margin-bottom: 25px;
}

.flecha {
    width: 100px;
    height: 100px;
}

.aArmaPedido {
    font-size: 35px;
    border-radius: 30px;
    border: double rgb(92, 41, 0);
    border-width: 5px;
    padding: 10px;
    font-weight: bold;
    margin: 30px;
    text-transform: uppercase;
    text-decoration: none;

    @mixin colores ($color, $backcolor) {
        color: $color;
        background-color: $backcolor;
    }

    @include colores ($buttoncolor, black);
}

.divTitInic {
    grid-area: titulo;
    padding-top: 20px;
    align-self: center;
}


.divInicio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 0.7fr 1fr 1fr 1fr 0.1fr;
    grid-template-areas: 
    "header header header header"
    "titulo titulo titulo titulo"
    "seccion1 seccion1 seccion1 seccion1"
    "seccion1 seccion1 seccion1 seccion1"
    "seccion2 seccion2 seccion2 seccion2"
    "footer footer footer footer";
}

/* inicio fin */

/* MEDIA QUERYS*/

@media (max-width:992px){

    .seccionesNav {
        transition: none;
        transition-duration: none;
        margin: 0;
    }
    
    .seccionesNav:hover {
        transform: none;
    }
    

    /* inicio comienzo */

    .divInicio {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.6fr 1fr 0.9fr 0.1fr;
    grid-template-areas: 
    "header header header"
    "titulo titulo titulo"
    "seccion1 seccion1 seccion1"
    "seccion2 seccion2 seccion2"
    "footer footer footer";
    }

    
    .flexart {
        flex-direction: column;
    }

    .imagenBurger {
        flex-direction: column;
        padding: 20px ;
    }

    /* inicio fin */

    .carritoMenu {
        margin: 10px;
    }

    /* catering comienzo */

    .divCatering {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 0.3fr 0.9fr 1fr 0.4fr 0.1fr;
        grid-template-areas: 
        "header header header"
        "titulos titulos titulos"
        "imgytabla imgytabla imgytabla"
        "articulocat articulocat articulocat"
        "contacto contacto contacto"
        "footer footer footer";
    }

    .imgYtabla {
        flex-direction: column;
        justify-content: space-between;
    } 

    /* catering fin */
}

@media (max-width:830px){

    /* inicio comienzo */

    .divInicio {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.3fr 0.7fr 0.8fr 0.9fr 0.1fr;
        grid-template-areas: 
        "header header header"
        "titulo titulo titulo"
        "seccion1 seccion1 seccion1"
        "seccion2 seccion2 seccion2"
        "footer footer footer";
    }

    .divTitInic {
        align-self: center;
    }

    .h1Index {
        font-size: 40px;
    }

    .h2Index {
        font-size: 35px;
    }

    /* inicio fin */

    /* menu comienzo */

    .h2ap {
        font-size: 40px;
    }


    /* menu fin */

    /* catering comienzo */

    .divCatering {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.1fr 0.4fr 0.9fr 1fr 0.4fr 0.1fr;
        grid-template-areas: 
        "header header header"
        "titulos titulos titulos"
        "imgytabla imgytabla imgytabla"
        "articulocat articulocat articulocat"
        "contacto contacto contacto"
        "footer footer footer";
    }
         

    .imgComboFull {
        margin-bottom: 30px;
    }


    .artlistInfo {
        padding: 30px;

        .listInfo {
            font-size: 25px;

        }

    }


    /* categing fin */



    /* nosotros comienzo */

    .tituloNos {
        margin-top: 20%;
    }

    .h1nosotros {
        font-size: 35px;
    }

    .pNosotros {
        font-size: 30px;
    }


    /* nosotros fin */

    /* contacto comienzo */

    .divContContacto {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 5fr 5fr 0.9fr;
        grid-template-areas: 
        "header header header" 
        "contacto contacto contacto"
        "contacto contacto contacto"
        "footer footer footer";
    }

    .sectContacto {
        flex-direction: column;
        padding: 20px;
    }

    /* contacto fin */
}

@media (max-width:630px){
    /* inicio comienzo */

    .divInicio {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 0.6fr 0.6fr 1.5fr 0.1fr;
        grid-template-areas: 
        "header header"
        "titulo titulo"
        "seccion1 seccion1"
        "seccion2 seccion2"
        "footer footer";
    }

    .h1Index {
        font-size: 38px;
    }

    .h2Index {
        font-size: 30px ;
    }

    .imgcaroucelInicio {
        width: 75%;
    }


    /* inicio fin */

    /* menu comienzo */
    
    .h2ap {
        font-size: 30px;
    }

    .artaptexto {
        display: flex;
        align-self: center;
        flex-direction: column;
        margin: 40px;
        font-size: 20px;
    }

    /* menu fin */

    /* catering comienzo */

    .divCatering {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 0.3fr 0.9fr 1fr 0.4fr 0.1fr;
        grid-template-areas: 
        "header header"
        "titulos titulos"
        "imgytabla imgytabla"
        "articulocat articulocat"
        "contacto contacto"
        "footer footer";
    }

    .h1Catering {
        font-size: 40px;
    }

    .h2Catering {
        font-size: 30px;
    }

    .imgComboFull {
        width: 60%;
    }
          

    .artlistInfo {
        padding: 10px;
        margin: 20px;

    
        .listInfo {
            font-size: 20px;
            margin: 3px;
        }
    
        
    }
    
    /* catering fin */

    /* nosotros comienzo */
    
    .h1nosotros {
        font-size: 38px;
    }

    /* nosotros fin */

    /* contacto comienzo */

    .divContContacto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.8fr 5fr 5fr 0.9fr;
        grid-template-areas: 
        "header header" 
        "contacto contacto"
        "contacto contacto"
        "footer footer";
    }

    /* contacto fin */

    /*footer comienzo*/

    footer {
        .logosRedesFlex {
            a {
                i{
                    font-size: 40px;
                }
            }
        }
        p{
            font-size: 10px;
        }
    }

    /*footer fin*/

}

@media (max-width:500px){


    /* inicio comienzo */

    .divInicio {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.6fr 0.8fr 0.5fr 0.1fr;
        grid-template-areas: 
        "header"
        "titulo"
        "seccion1"
        "seccion2"
        "footer";
    }

    .articFlecha {
        font-size: 25px;
    }   

    /* inicio fin */

    /* catering comienzo */

    .divCatering {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.3fr 0.9fr 1fr 0.3fr 0.1fr;
        grid-template-areas: 
        "header"
        "titulos"
        "imgytabla"
        "articulocat"
        "contacto"
        "footer";
    }

    .artlistInfo {
        padding: 0;
        margin: 5px;

        .listInfo {
            font-size: 15px;
            margin: 3px;
        }

    }

    .imgComboFull {
        margin-bottom: 10px;
    }

    .aContacto {
        font-size: 25px;
        margin: 10px;
    }

    /* catering fin */

    /* nosotros comienzo */

    .vidNosotros {
        width: 80%;
        margin: 20px 0 20px 0;
    }
    
    /* nosotros fin */

    /* contacto comienzo */

    .divContContacto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.9fr 5fr 5fr 0.9fr;
        grid-template-areas: 
        "header" 
        "contacto"
        "contacto"
        "footer";
    }

    
    .h2Contacto {
        font-size: 2rem;
    }

    .artcontact {
        font-size: 1.5rem;
    }

    .formContacto .enviar {
        font-size: 1rem;
    }

    .formContacto .resetear {
        font-size: 1rem;
    }


    /* contacto fin */
}

@media (max-width:350px){


    /* inicio comienzo */

    .divInicio {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.5fr 0.5fr 0.5fr 0.1fr;
        grid-template-areas: 
        "header"
        "titulo"
        "seccion1"
        "seccion2"
        "footer";
    }

    .aArmaPedido {
        font-size: 23px;
    }

    /* inicio fin */

    /* menu comienzo */

    .h2ap {
        font-size: 40px;
    }

    /* menu fin */
}